[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
dependsOn = ['setup']
cmds = ['npm install']

[phases.build]
dependsOn = ['install']
cmds = ['npm run build']

[start]
cmd = 'npm start'

[variables]
NIXPACKS_BUILD_DIR = 'fe-next'
