.animated-title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: purple;
    animation: titleAnimation 3s infinite alternate;
  }
  
  .text {
    display: inline-block;
    transform-origin: 50% 50%;
  }
  
  @keyframes titleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
      color: #993399;  /* A different shade of purple */
    }
    100% {
      transform: scale(1);
    }
  }
  